/* ==========================================================================
	#General
========================================================================== */
#pjWrapper * { font-family: 'Raleway', sans-serif; }
#pjWrapper .fa { font-family: 'FontAwesome'; }
#pjWrapper .glyphicon { font-family: 'Glyphicons Halflings'; }

#pjWrapper .pjTbs-car-meta li span,
#pjWrapper a,
#pjWrapper .input-group-addon,
#pjWrapper .btn .glyphicon { color: #d66e3b; }

#pjWrapper a:hover { color: #ba5e34; }

#pjWrapper .btn-primary { background-color: #d66e3b; border-color: #ba5e34; color: #fff;}
#pjWrapper .btn-primary:hover { background-color: #ba5e34; }

#pjWrapper .pjTbs-distance strong,
#pjWrapper .pjTbs-distance input,
#pjWrapper .pjTbs-price,
#pjWrapper .btn-secondary,
#pjWrapper .pjTbs-head { background-color: #756556; border-color: #625548; }

#pjWrapper .btn-secondary:hover { background-color: #625548; }

#pjWrapper .pjTbs-service-list-row + .pjTbs-service-list-row,
#pjWrapper .pjTbs-spinner-result,
#pjWrapper .pjTbs-spinner .btn:hover, 
#pjWrapper .pjTbs-spinner .btn,
#pjWrapper .input-group-addon,
#pjWrapper .pjTbs-subtotal p,
#pjWrapper .pjTbs-extras li + li,
#pjWrapper .pjTbs-box,
#pjWrapper .form-control,
#pjWrapper .pjTbs-body { border-color: #cab29b; }

#pjWrapper .pjTbs-distance strong,
#pjWrapper .pjTbs-distance input,
#pjWrapper .pjTbs-price,
#pjWrapper .btn,
#pjWrapper .btn:hover { color: #fff; }

#pjWrapper .pjTbs-head .btn-default,
#pjWrapper .pjTbs-head .form-control { background-color: rgba(0,0,0,.05); border-color: #625548; color: #fff; }

#pjWrapper .pjTbs-head .dropdown-menu { background-color: #756556; }
#pjWrapper .pjTbs-head .dropdown-menu li a:hover { background-color: #d66e3b; color: #fff;}

#pjWrapper .bootstrap-datetimepicker-widget table td span.active,
#pjWrapper .bootstrap-datetimepicker-widget table td.active, 
#pjWrapper .bootstrap-datetimepicker-widget table td.active:hover { background-color: #d66e3b; }

#pjWrapper .bootstrap-datetimepicker-widget table td.today:before { border-color: rgba(0, 0, 0, 0.2) transparent #d66e3b; }