/* ==========================================================================
	#General
========================================================================== */
#pjWrapper * { font-family: 'Fira Sans', sans-serif; }
#pjWrapper .fa { font-family: 'FontAwesome'; }
#pjWrapper .glyphicon { font-family: 'Glyphicons Halflings'; }

#pjWrapper a,
#pjWrapper .pjTbs-car-meta li span,
#pjWrapper .input-group-addon,
#pjWrapper .btn .glyphicon { color: #1ec290; }

#pjWrapper a:hover { color: #1ca47a; }

#pjWrapper .btn-primary { background-color: #1ec290; border-color: #1ca47a; }
#pjWrapper .btn-primary:hover { background-color: #1ca47a; }

#pjWrapper .pjTbs-head { background-color: #222; border-color: #222; }

#pjWrapper .btn-secondary { background-color: #767575; border-color: #6c6867; }
#pjWrapper .btn-secondary:hover { background-color: #6c6867; }

#pjWrapper .btn,
#pjWrapper .btn:hover { color: #fff; }

#pjWrapper .pjTbs-body { background-color: #f3f1f2; }

#pjWrapper .pjTbs-head .dropdown-menu { background-color: #404040; }
#pjWrapper .pjTbs-head .dropdown-menu li a:hover { background-color: #333; }

#pjWrapper .bootstrap-datetimepicker-widget table td span.active,
#pjWrapper .bootstrap-datetimepicker-widget table td.active, 
#pjWrapper .bootstrap-datetimepicker-widget table td.active:hover { background-color: #1ec290; }  

#pjWrapper .bootstrap-datetimepicker-widget table td.today:before { border-color: rgba(0, 0, 0, 0.2) transparent #1ec290; }

#pjWrapper .btn,
#pjWrapper .btn:hover { color: #fff; }

#pjWrapper .pjTbs-head .btn,
#pjWrapper .pjTbs-head .btn:hover { color: #333; }